.menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  text-align:center;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  margin-right: 50px;
  padding-top: 20px;
  vertical-align:middle;
  -webkit-box-shadow: 1px 0px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 0px 13px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 0px 13px 0px rgba(0,0,0,0.75); 
}

.menu a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition:0.2s;
}
.menu a.text {
	margin-top: 50px;
}

.menu a:hover {
  transition:0.2s;
  color: #f1f1f1;
}

.main {
  margin-left: 160px; 
  font-size: 28px; 
  padding: 0px 10px;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border:none;
  width: 30%;
-webkit-box-shadow: 2px 0px 18px 1px rgba(97,96,97,1);
-moz-box-shadow: 2px 0px 18px 1px rgba(97,96,97,1);
box-shadow: 2px 0px 18px 1px rgba(97,96,97,1);
}

#customers td, #customers th {
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:nth-child(odd){background-color: #DCDCDC;}

#customers tr:hover {background-color: grey;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #696969;
  color: white;
}

a i.fa-pen, i.fa-times {
	color:black;
}

a.btn {
	position:fixed;
	top: 0;
	right:0;
	margin-right:10px;
	background-color:red;
	border-radius: 0 0 5px 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	outline:none;
	text-decoration: none;
	font-family: "Roboto";
	color:white;
	text-transform: uppercase;
	transition: 0.2s
}

a.btn:hover {
	padding-top: 20px;
	opacity: 0.85;
	transition: 0.2s;

}

a.btn:focus {
	padding-top: 15px;	
	opacity: 0.85;
	transition: 0.2s;
}

input.text {
	background-color:transparent;	
	color:red;
	padding-top:10px;
	padding-bottom:5px;
	width:500px;
	font-size:18px;
	margin-bottom:30px;
	font-family:"Roboto";
	border-top:0px solid #fff;
	border-right:0px solid #fff;
	border-bottom:2px solid #fff;
	border-left:0px solid #fff;
	outline:none;
	text-decoration:none;
	transition:0.2s;

}

input.text:focus{
	transition:0.2s;
	border-top:0px solid red;
	border-right:0px solid red;
	border-bottom:2px solid red;
	border-left:0px solid red;
}

input.submit {
	cursor: pointer;
	text-transform:uppercase;
	border:none;
	color:white;
	font-weight:400;
	font-family:"Roboto";
	background-color:red;
	margin-left: auto;
    margin-right: auto;
	max-width:100px;
	width:100%;
	height:50px;
	outline:none;
	border-radius:5px;
	transition:0.2s;

}

form#border{
	font-family:"Roboto";
	margin-bottom:15px;
	width: 800px;
	background-color:#696969;
-webkit-box-shadow: 2px 0px 18px 1px rgba(97,96,97,1);
-moz-box-shadow: 2px 0px 18px 1px rgba(97,96,97,1);
box-shadow: 2px 0px 18px 1px rgba(97,96,97,1);
}

form#border span{
	color:white;
	text-transform: uppercase;
}

div#reseaux {
	position:fixed;
	left: 600px;
	top:150px;
}

div.usersform {
	width:100%;
}

form.users {
	width:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

p.home {
	margin-top: 15px;
}

p.home span {
	font-family:"Roboto";
	color:white;
	margin-right:10px;
}

p.home input.homesubmit {
	font-family: "Roboto";
	color:white;
	border:none;
	background-color:red;
	text-decoration:none;
	outline:none;
	padding-top:5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom:5px;
	border-radius: 2px;
	text-transform:uppercase;
	opacity:0.85;
	transition: 0.2s;
}

p.home input.homesubmit:hover {
	background-color:	#8B0000;
}
p.home input.homesubmit:focus {
	background-color:	#B22222;
	transform:scale(0.95);
}

p.home select{
	width: 150px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
